@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
	box-sizing: border-box;
}

html {
	cursor: default;
	-webkit-tap-highlight-color: transparent;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 7px;
	padding: 0;
	
	overflow-y: scroll;
	overflow-x: hidden;
	
	font-family: "Mulish", sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

main {
	overflow: hidden;
	padding-bottom: 100px;
	flex: 1;
}

br {
	user-select: none;
}
time {
	white-space: nowrap;
}
.background-light {
	background: linear-gradient(to bottom right, #8BAFC4, #8BC6BD);
	color: #3d3d3d;
}

.background-dark {
	background: linear-gradient(to bottom right, #1a1a2e, #0c3f3a);
	color: #e1e1e1;
}

.background-light, .background-dark {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.theme-1 {
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.17);
	border-radius: 25px;
	padding: 17px;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.filter-dark {
	filter: invert(85%);
}

input {
	font-weight: normal;
	font-size: 1rem;
}

p {
	line-height: 1.35;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
	margin-block-start: 0.5rem;
	margin-block-end: 0.5rem;
}

li {
	margin-block-end: 0.5rem;
}

header {
	padding: 40px 20px;
	margin-bottom: 20px;
	padding: 20px;
}

header a {
	text-decoration: none !important;
	color: #ffffff !important;
}

.intro {
	padding: 7px;
	min-height: 300px; 
	align-content: center;
}

.intro p {
	padding: 0 7px;
}

.page-wrapper {
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;
}

.article-wrapper {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
}

.main-content-area {
	display: flex;
	gap: 25px;
}

.sidebar {
	align-self: flex-start;
	min-width: 280px;
}

hr {
	opacity: 0.7;
}

.sidebar h3 {
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
	margin-bottom: 15px;
	padding-bottom: 10px;
	font-weight: 600;
	opacity: 0.75;
}

.filter-category {
	margin-bottom: 25px;
}

.filter-group {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	user-select: none;
}

.filter-group label {
	border-radius: 10px;
	font-weight: 500;
	cursor: pointer;
	padding: 4px 6px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-group label:hover {
	filter: invert(0.2);
	background-color: rgba(0, 0, 0, 0.05);
}

.filter-group input[type="radio"], .filter-group input[type="checkbox"] {
	width: 18px;
	height: 18px;
	appearance: none;
	border: 2px solid #757575;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.1);
	position: relative;
	cursor: pointer;
}

.filter-group input[type="radio"] {
	border-radius: 50%;
}

.filter-group input[type="radio"]:checked, .filter-group input[type="checkbox"]:checked {
	background-color: #005d54;
	border-color: #0c3f3a;
}

.filter-group input[type="radio"]:checked::before, .filter-group input[type="checkbox"]:checked::before {
	display: block;
	text-align: center;
	line-height: 14px;
	color: #fff;
	font-size: 12px;
}

.filter-group input[type="checkbox"]:checked::before {
	content: '✔';
}

.filter-list-main {
	flex-grow: 1;
}

.filter-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 25px;
	padding-bottom: 20px;
}

.filter-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	min-height: 300px;
	max-height: 700px;
	max-width: 700px;
	margin: 0 auto;
	width: 100%;
}

.filter-logo {
	min-width: 100px;
	min-height: 100px;
	max-width: 100px;
	max-height: 100px;
	margin-bottom: 10px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filter-description {
	margin-bottom: 20px;
	flex-grow: 1;
}

.filter-features-container, .filter-platforms-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 7px;
	margin-bottom: 10px;
	width: 100%;
}

.feature-tag, .platform-tag {
	display: inline-flex;
	align-items: center;
	padding: 5px 10px;
	border-radius: 20px;
	white-space: nowrap;
	font-size: 0.9rem;
}

.feature-tag {
	background-color: #a0e3d1;
	color: #00796b;
}

.platform-tag {
	background-color: #ebebeb;
	color: #666;
}

.platform-tag img {
	height: 16px;
	margin-right: 5px;
}

img {
	object-fit: contain !important;
	max-width: 100% !important;
	/*height: auto !important;*/
}

.no-items-message {
	text-align: center;
	/*width: 100%;*/
	color: #666;
	padding: 50px;
	font-size: 1.2rem;
}

.articleVid {
	position: relative;
	display: block;
	border: none;
	margin: 0 auto;
	border-radius: 15px;
	height: auto;
	aspect-ratio: 16 / 9;
}

#counter {
	margin-bottom: 15px;
	margin-top: 0;
}

@media (max-width: 800px) and (max-aspect-ratio: 1/1) {
	.articleVid {
		min-width: 100%;
		max-width: 100%;
	}
	
	#counter {
		display: none;
	}
	
	.main-content-area {
		flex-direction: column;
	}
	
	.sidebar {
		width: 100%;
	}
	
	.filter-category {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 7px;
		margin-bottom: 15px;
	}
	
	.filter-group {
		margin-bottom: 0;
	}
	
	.background-light, .background-dark {
		background-attachment: scroll;
	}
}

footer, .footer {
	color: #6c757d;
	font-size: 1rem;
	text-align: center;
	padding: 0;
	margin: 0;
	min-height: 50px;
	display: grid;
	place-content: center;
}

a {cursor: pointer; font-weight: bold; text-decoration: none; transition: color 0.2s linear; }
a:link {color:#1C62B9; }
a:visited {color:#1C62B9; }
a:hover {color:#3952C6; text-decoration: underline; }
a:active {color:#D8B234; text-decoration: underline; }
pre {
	font-family: Consolas,"courier new";
	background-color: rgba(45,55,60, 0.9);
	color: #CED7E5;
	font-size: 1.1rem;
	border-radius: 6px;
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-word;
}

blockquote p {
	margin: 0;
}
blockquote {
	border-radius: 10px;
	background-color: rgba(237,237,237, 0.6);
	color: #212121;
	font-size: 1.1rem;
	font-style: italic;
	padding: 10px;
	
	position: relative;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-word;
	
	min-width: 128px;
	width: fit-content;
}
blockquote::before {
	position: absolute;
	color: lightgray;
	font-size: 2rem;
	left: -13px;
	top: -13px;
	content: "\275D";
}
code {
	font-family: Consolas,"courier new";
	background-color: rgba(192,192,192, 0.3);
	padding-right: 10px;
	padding-left: 10px;
	font-size: 1.05rem;
	border-radius: 6px;
}
.hidden {
	display: none !important;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 30px;
}

.card {
	transition: all 0.3s ease;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: start;
	color: inherit !important;
	text-decoration: none !important;
	font-weight: inherit !important;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
	filter: brightness(0.9);
	font-size: 1.7rem;
}

.card-description {
	margin-bottom: 20px;
	flex-grow: 1;
}

.card.coming-soon {
	opacity: 0.6;
	pointer-events: none;
}

.card.coming-soon::after {
	content: "Coming Soon";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: 700;
	font-size: 1.2rem;
	text-align: center;
}

#loadMoreBtn {
	display: none;
	margin: 20px auto;
	padding: 10px 20px;
	font-size: 1rem;
	cursor: pointer;
	color: inherit;
}
#page-nav {
	display: flex;
	justify-content: space-between;
}
/* theme switcher v */
.toggle-theme {
	width: 50px;
	height: 50px;
	position: relative;
}

.toggle-theme input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.toggle-theme label {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #f0f0f0;
	font-size: 24px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s;
	user-select: none;
}

.toggle-theme input:not(:checked) + label::before {
	content: "🌞";
}

.toggle-theme input:checked + label::before {
	content: "🌜";
}

.toggle-theme input:checked + label {
	background-color: #333;
	color: white;
}
/* buttons v */
.link-button, .copy-button, .button {
	all: unset;
	cursor: pointer;
	user-select: none;
	font-size: 1rem;
	text-align: center;
}
.link-button {
	background: rgb(0 126 114 / 55%);
	border: 1px solid rgb(0 147 133);
	color: #fff !important;
	transition: background-color 0.3s ease, transform 0.2s ease;
	padding: 10px 25px;
	margin: 5px;
	border-radius: 16px;
}

.link-button:hover {
	background-color: #333;
	transform: translateY(-2px);
}
.copy-button, .button {
	background-color: #4caf50;
	color: white;
	padding: 8px;
	font-size: 1rem;
	border: none;
	border-radius: 6px;
}
.copy-button:hover, .button:hover {
	background-color: #45a049;
}

.qr-code {
	user-select: none;
	overflow: hidden;
	display: flex;
	border-radius: 15px; 
	margin: 20px 0;
}
/* inputs v */
button, select, textarea, input[type="text"], div[contenteditable="true"] {
	background: none;
	border: none;
	box-shadow: none;
	outline: none;
	color: inherit;
	font-size: inherit;
}

option {
	color: black;
}

input::placeholder {
	opacity: 0.5;
	color: inherit;
}

textarea, input[type="text"], div[contenteditable="true"] {
	border:2px solid #757575;
	background-color: rgba(0,0,0, 0.1);
	border-radius: 10px;
	box-sizing: border-box;

	min-height: 45px;
	width: 100%;
	padding: 10px;

	white-space: break-spaces;
	word-wrap: break-word;
}

textarea:focus, input[type="text"]:focus, div[contenteditable="true"]:focus {
	border-color: #1C62B9;
}

.search-sort-controls {
	text-align: right;
	margin-bottom: 20px;
}

/* table v */
.table-container {
	max-width: 100%;
	overflow-x: auto;
	position: relative;
}
table {
	width: max-content;
	text-align: center;
	margin: 0 auto;
}
table th, table td, table tr {
	padding: 5px;
}
table th {
	background-color: #b3b3b3;
}
table th:first-child, table td:first-child {
	position: sticky;
	left: 0;
	background-color: #b3b3b3;
	z-index: 1;
	min-width: 120px;
}
table td:first-child {
	font-weight: bold;
}
article table {
	border-collapse: collapse;
}
table tr:nth-child(odd) {
	background-color: #dddddd0f;
}
table tr:nth-child(even) {
	background-color: #dddddd2e;
}
table tr:hover {
	background-color: rgba(100, 100, 100, 0.1);
}

/* google ad v */
ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
}

/* cosmetic v */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

#itemGrid {
	opacity: 0;
	animation: fadeIn 0.8s ease-out forwards;
}
